body{
  background-color: #1D2129;
  color: #708097;
}
/* .items-container{
  display: flex;
} */
.posts-container{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.post{
  text-align: center;
  width: 50%;
}
.box-container{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px 0px;
}
.App{
  max-width: calc(100% - 300px);
  margin: 0 auto;
}